<link rel="stylesheet" type="text/css" href="../static/index.css">
<link rel="icon" href="{{ url_for('static', filename='images.ico') }}" type="image/x-icon">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Basic-Fit QR-Code-Gen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history">Historique Des Visiteurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/get_boisson_image">Boissons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app">App</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2>QR Codes Utilisés pour les Boissons</h2>

<table class="history-table">
    <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>User Agent</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Lien</th>
        <th>Image QR</th>
        <th>Essais Restants</th>
        <th>Action</th>
    </tr>
    {% for data in used_entries %}
    <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.timestamp }}</td>
        <td>{{ data.user_agent }}</td>
        <td>{{ data.Nom }}</td>
        <td>{{ data.Prenom }}</td>
        <td><a href="{{ data.link }}">{{ data.link }}</a></td>
        <td>{% if data.image_tag %}
                        <img src="{{ data.image_tag | safe }}">
                    {% else %}
                        Aucune image
                    {% endif %}
        </td>
        <td>{{ data.essais_restants }}</td>
        <td>
            {% if data.essais_restants > 0 %}
                <form action="/use_drink/{{ data.id }}" method="POST">
                    <button type="submit">Utiliser un essai</button>
                </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>


<a href="/home">Return To Home</a>
<a href="/history">Historique des liens</a>
<a href="/boissons">Boissons Disponible</a>
