<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='images.ico') }}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="167x167" href="{{ url_for('static', filename='apple-touch-icon-167x167.png') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">Basic-Fit QR-Code-Gen</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/history">Historique Des Visiteurs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/get_boisson_image">Boissons</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
  
    <body>
        {% if isWeek2 %}
        <form class="grid" action="/result_week" method="POST">
            <label for="name">Press To generate a Holland Daypass qr code:</label>
            {% if not link %}
            <label for="prenom">Prénom:</label>
            <input type="text" placeholder="Vide pour aléatoire" id="prenom" name="prenom" ><br><br>
            <label for="nom">Nom:</label>
            <input type="text" placeholder="Vide pour aléatoire" id="nom" name="nom" ><br><br>
            <center><input class="file_submit" type="Submit"></center>
            {% endif %}
            {% if link %}
            <center>
                <h3 style="color: blue;" class="let_space"><a href="{{ link }}">{{link}}</a></h3>
                <img src="{{ link }}">
            </center>
            {% endif %}
        </form>
        {% endif %}
        {% if isDay %}
        <form class="grid" action="/result_day" method="POST">
            <label for="name">Press To generate a day pass qr code:</label>
            {% if not link %}
            <label for="prenom">Prénom:</label>
            <input type="text" placeholder="Vide pour aléatoire" id="prenom" name="prenom" ><br><br>
            <label for="nom">Nom:</label>
            <input type="text" placeholder="Vide pour aléatoire" id="nom" name="nom" ><br><br>
            <center><input class="file_submit" type="Submit"></center>
            {% endif %}
            {% if link %}
            <center>
                <h3 style="color: blue;" class="let_space"><a href="{{ link }}">{{link}}</a></h3>
                <img src="{{ link }}">
            </center>
            {% endif %}
        </form>
        {% endif %}
        {% if not isWeek and not isDay %}  
        <h2>Historique des Visiteurs</h2>
        <table class="history-table">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Lien</th>
                <th>Image QR</th>
		        <th>Action</th>
            </tr>
            {% for data in visitor_data %}
            <tr>
                <td>{{ data.Nom }}</td>
                <td>{{ data.Prenom }}</td>
                <td><a href="{{ data.link }}">Lien</a></td>
                <td>
                    {% if data.image_tag %}
                    <img src="{{ data.image_tag | safe }}" data-bs-toggle="modal" data-bs-target="#qrModal-{{ data.id }}" style="cursor: pointer; width: 100px;">
                    <!-- Modal -->
                    <div class="modal fade" id="qrModal-{{ data.id }}" tabindex="-1" aria-labelledby="qrModalLabel-{{ data.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="qrModalLabel-{{ data.id }}">QR Code</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ data.image_tag | safe }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    Aucune image
                    {% endif %}
                </td>
                <td>
                    {% if data.duree == "day" or data.duree == "day NL" %}  
                    <form action="/mark_used/{{ data.id }}" method="POST">
                        <button type="submit">Utilisé</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        <br>
        <br>
    </body>
</html>
